@page {
  size: auto;
  margin: 0mm; 
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #fff;
}

.card {
  width: 100% !important;
  max-width: 100% !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  border: none !important;
  padding: 5px !important;
  text-align: center;
  box-sizing: border-box;
}

.no-print {
  display: none !important;
}

h2 {
    font-size: 14pt !important;
    font-weight: bold;
    margin: 5px 0;
}

.detalhe {
  font-size: 11pt !important;
  margin: 3px 0;
}

.senha {
  font-size: 28pt !important;
  font-weight: bold !important;
  letter-spacing: normal !important;
  margin: 5px 0 !important;
  word-break: break-all; 
}